__pycache__/
*.py[cod]
.streamlit/secrets.toml
.env
backend/.env
frontend/.env
kaggle.json
data/
models/*.keras
models/*.h5
reports/
backend/__pycache__/
frontend/node_modules/
frontend/dist/

backend\.env.example